{% extends 'base.html.twig' %}

{% block title %}SAE 401{% endblock %}

{% block body %}
<header>
    <h1>SAE 401</h1>
    <nav>
        <a href="{{ path('app_compte')}}" class="btn btn-primary">Compte</a>
        <a href="{{ path('app_login')}}" class="btn btn-primary">Compte</a>
    </nav>
</header>
<main>

<h1>
    {% if app.user %}
        Bonjour {{ app.user.username }}
    {% else %}
        Bonjour
    {% endif %}
</h1>

<h2>
    <a href="{{ path('app_new_partie') }}">Créer une Partie</a>
</h2>
</main>
{% endblock %}
